/* Sidebar */
$sideBarWidth: 180px;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$subMenuActiveText:#f4f4f5;

/* Login page */
$loginBg: #2d3a4b;
$lightGray: #eee;
$darkGray:#889aa4;

/*自定义样式 */
$globalBg:#F2F5FA;
$fontColor:#7686A8;
$fontGreenColor:#6388FF;

/* notice page */
$titleColor:#535f78;
